html,
body {
    background-image: url("../img/fondEcranLobby.png");
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero {
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
    color: #FF9933;
    font-weight: lighter;
    text-align: center;
}

#game-list {
    height: 400px;
    overflow-y: scroll;
    border-radius: 15px;
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #FF9933;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}

#join-error {
    height: 100px;
}

#signout {
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    color: #000000;
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 30px;
    width: 200px;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 100%;
    margin-top: 50px;
}

#My-app {
    margin-left: 30%;
}

#les-parties {
    border: 3px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    width: 500px;
    padding: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}